name: Pytest

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04]

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python 3.9
      run: |
        sudo apt install libunwind-dev

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"

    - name: install dependencies and create virtualenv
      run: |
        python -m pip install pytest vmprof

    - name: Test with pytest
      run: |
        python -m pytest -v

